body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .75)), url('https://i.postimg.cc/266kKbV4/s-blob-v1-IMAGE-bu-YSGxuh5CA.jpg'); 
    background-position: center, center, center;
    background-size: 100% 100%, 50%, 50%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-color: #659030; 
}

ul.plan:hover {
    color:#006580;
}

p.div:hover {
  color: #006580;
}

h2.div:hover {
  color:#006580;
}

h3.div:hover {
  color:#006580;
}

a.div:hover {
  color: #006580;
}

div.list-container {
  background-color: rgba(255, 255, 255, 0.075); 
  
  backdrop-filter: blur(5px); 
  
  margin: 20px 0 20px 20px; 
  
  width: 40%;
  max-width: 90%;

  padding: 25px;
  border-radius: 12px;
  box-sizing: border-box;
}

.blur-button { 
  display: inline-block; 
  width: 125px; 
  max-width: 300px;
  height: 25px;
  padding: 15px 20px; 
  color: #000000; 
  text-decoration: none; 
  text-align: center; 
  font-weight: 500; 
  border-radius: 8px; 
  background: rgba(255, 255, 255, 0.25); 
  border: 1px solid rgba(255, 255, 255, 0.4); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 25px 10px; 
  transition: transform 0.25s ease;
}

/* Added hover rule */
.blur-button:hover {
  transform: scale(1.25);
}